<div>
    <p><%= messageTitle %></p>
    <p><%= message %></p>
    <%if (currentUser.is_member == true) {%>
    <p><%= author %></p>
    <p><%= date %></p>
    <%};%>

    <%if (currentUser.is_admin == true) {%>
        <form action="/<%= messageId %>/delete" method="get"><button type="submit">Delete</button></form>
    <%};%>
</div>